.ResultCardWrapper {
	display: flex;
	flex-flow: row wrap;
}

.ResultCardWrapper div:first-child {
	margin-left: 0px;
}

.Results {
	padding-left:50px;
	padding-top: 25px;
}
 
.Title {
	text-transform: capitalize;
}

.Bio {
	height: 80%;
}

.IconSet {
	display: flex;
	align-items: center;
}

.IconSet p {
	color: #4A90E2;
}

.IconSet p:hover {
	cursor: pointer;
} 

.ResourceCard {
	display: flex;
	flex-direction: column;
	position: relative;
}

.ResourceSelect {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.ResourceSelect button {
	margin: auto;
	border: 2px solid;
}
