@import "src/styles/index.scss";
html {
  min-width: 100vw;
  min-height: 100vh;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  background-color: $dark-blue;
}

.page-header {
  color: #fff;
}

.Landing {
  background: url(../images/cover_health.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}