html {
  min-width: 100vw;
  min-height: 100vh;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  background-color: hsl(168%, 61%, 70%);
}

.Landing {
  background: url(../images/cover_health.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}